<p>header-admin works!</p><ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link active" (click)="goToUrl('/signup')">Commandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="goToUrl('/signup')">Restaurants</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="goToUrl('/signup')">Livreurs</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" (click)="goToUrl('/signup')">Bénéfices</a>
    </li>
</ul>