<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item" [ngClass]="{'active':active.commande}">
      <a [class]="'nav-link '" href="/commande/all">Commandes</a>
    </li>
    <li class="nav-item" [ngClass]="{'active':active.restaurant}">
      <a class="nav-link" href="/restaurants">Restaurants</a>
    </li>
    <li class="nav-item" [ngClass]="{'active':active.livreur}">
        <a class="nav-link" href="/livreurs">Livreurs</a>
      </li>
    <li class="nav-item" [ngClass]="{'active':active.benefice}">
        <a class="nav-link" href="benefice/all">Bénéfices</a>
    </li>
</ul>