<div class="header">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/">
          <span><img src="../assets/images/icone.ico" height="40px"/></span>
          E-Kaly
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <img src="https://img.icons8.com/fluency/48/000000/menu-rounded.png"/>
        </button>  
        <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link active" href="#">Nos produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Votre Commande</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="goLogin()">Se connecter</button>
            <a class="nav-link" href="/signup">Créer un compte</a>    
          </div>
        </div>      
    </nav>
</div>
