<div class="content">
    <div class="head">
        <h2>Détails Commande</h2>
        <div 
            *ngIf="isLivreur"
            class="button right btn btn-success" 
            (click)="livrer()"
            [ngClass]="{'disabled':commande.etatLivraison.delivered}"
        >
            Livrer
        </div>
    </div>
    <div class="body body-container">
        <div class="top">
            <p>Date de commande: {{ date(commande.date) }}</p>
            <p>Addresse: {{ commande.addresse }}</p>
            <p>Total: {{ commande.price }} Ar</p>
            <p>Date de livraison: {{ date(commande.etatLivraison.dateLivraison) || " -- "}}</p>
            <p>Livreur: {{ commande.etatLivraison.livreur?.username || " -- "}}</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Plat</th>
                    <th>Quantité</th>
                    <th>Restaurant</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plat of commande.plats">
                    <td>
                        <img [src]="fileUrl(plat.plat.image)"
                            onerror="this.onerror=null;this.src='../../../assets/images/icons8-nourriture-morte-100.png';"
                            width="50" height="50"
                        />
                    </td>
                    <td>{{ plat.plat.name }}</td>
                    <td>{{ plat.quantite }}</td>
                    <td>{{ plat.plat.restaurant.username || plat.plat.restaurant.name }}</td>
                    <td>{{ plat.price }} Ar</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>